.header, .container, .form, .footer{
   border: solid 5px gray;
   padding: 10px;
   width: 70%;
   margin: 10px auto;
}

p{
   border: solid 2px green;
   margin: 10px;
   height: 20px;
}

.p2{
   height: 100px;
   background-color: aqua;
   border-radius: 50%;
}